PHP код, который должен вернуть значение поля в формате: </br></br>
<code>
  {% if not isMulti %}
    {% if fields|length == 1 %}
      return ${{ fields[0].type }}; {% if fields[0].description %}// {{ fields[0].description }}{% endif %}
    {% else %}
      return [<br>
        {% for field in fields %}
      &nbsp;&nbsp;'{{ field.name }}' => ${{ field.type }}, {% if field.description %}// {{ field.description }}{% endif %}<br>
        {% endfor %}
      ];
    {% endif %}
  {% else %}
    return [ <br>
      {% for item in [1,2,3] %}
    &nbsp;&nbsp;[<br>
        {% for field in fields %}
          {% if field.isMulti and field.fields %}
&nbsp;&nbsp;&nbsp;&nbsp;'{{ field.name }}' => [<br>
            {% for item in field.fields %}
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'{{ item.name }}' => ${{ item.type }}, {% if item.description %}// {{ item.description }}{% endif %}<br>          
            {% endfor %}
&nbsp;&nbsp;&nbsp;&nbsp;];<br>
          {% else %}
  &nbsp;&nbsp;&nbsp;&nbsp;'{{ field.name }}' => ${{ field.type }}, {% if field.description %}// {{ field.description }}{% endif %}<br>
          {% endif %}
        {% endfor %}
    &nbsp;&nbsp;],<br>
      {% endfor %}
    ];
  {% endif %}
</code>